* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #region task-1 */

#categories {
  width: 440px;
  padding: 24px;
  list-style-type: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  background-color: #f6f6fe;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
}

.item ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  display: block;
  padding: 8px 0 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion task-1 */

/* #region task-2 */

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.image-item {
  width: calc(33.33% - 16px);
}

.image-item img {
  display: block;
  width: 100%;
  height: 100%;
}
/* #endregion task-2 */

/* #region task-3 */

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* #endregion task-3 */

/* #region task-4 */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border-color: transparent;
  color: #fff;
}
/* #endregion task-4 */

/* #region task-5 */
.widget {
  display: block;
}
.widget p {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 8px;
  border-color: transparent;
  padding: 8px 16px;
  width: auto;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}
/* #endregion task-5 */
